:root {
	--primary: #181818;
	--white: #ffffff;
	--background: #0e0e0e;
	--text-color: #ffffff;

	--hover-black: rgba(255, 255, 255, 0.125);
	--hover-white: rgb(0 0 0 / 14%);

	--inter: Inter, Avenir, Helvetica, Arial, sans-serif;
}
